$header-height: 115px;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    background: #0B0B0B;
}
.btn{
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 0;
    transition: 200ms ease-in-out;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    &:focus,
    &:active{
        box-shadow: none;
    }
    &:hover{
        background: #770302;
        color: #fff;
    }
}
.header{
    padding: 30px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    z-index: 5;
    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    &__btn{
        padding: 12px;
    }
    &__menu{
        position: fixed;
        background: #000;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 50;
        display: flex;
        align-items: center;
        transform: translateX(-100%);
        transition:  600ms ease-in-out;
        &.open{
            transform: translateX(0);
        }
        .container{
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
        }
        &-close{
            position: absolute;
            top: 30px;
            right: 15px;
            cursor: pointer;
            background: none;
            border: none;
            width: 50px;
            height: 50px;
            transition: 400ms ease-in-out;
            &:hover{
                transform: rotate(-180deg);
            }
        }
    }
    &__list{
        list-style-type: none;
        margin-bottom: 0;
    }
    &__li{
        &:not(:last-child){
            margin-bottom: 44px;
        }
    }
    &__link{
        font-weight: bold;
        font-size: 48px;
        line-height: 56px;
        color: #FFFFFF;
        text-decoration: none;
        position: relative;
        &:hover{
            color: #fff;
            &::before{
                background: #fff;
            }
        }
        &::before{
            content: '';
            position: absolute;
            bottom: -14px;
            left: 0;
            height: 3px;
            width: 360px;
            background: #B70021;
            pointer-events: none;
            transition: 200ms ease-in-out;
        }
    }
}
.intro{
    position: relative;
    min-height: 100vh;
    padding-top: $header-height;
    &__title{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 96px;
        line-height: 112px;
        margin-bottom: 40px;
        color: #FFFFFF;
    }
    &__desc{
        font-size: 24px;
        max-width: 284px;
        width: 100%;
        line-height: 28px;
        color: #FFFFFF;  
        margin-bottom: 25px;      
    }
    &__btn{
        width: 290px;
        height: 90px;
    }
    &__content{
        z-index: 2;
        position: absolute;
        width: 100%;
        top: $header-height;
        left: 0;
    }
    &__carousel{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        .carousel-inner{
            height: 100%;
            height: 100%;
        }
        .carousel-item{
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .carousel-indicators{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-left: auto;
            margin-right: auto;
            padding-left: 15px;
            padding-right: 15px;
            button{
                width: 15px;
                height: 15px;
                border-radius: 50%;
                opacity: 1;
                background: #000;
                border: none;
                &.active{
                    background: #fff;
                }
            }
        }
    }
}
.spec{
    padding: 100px 0;
    &__body{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        color: #fff;
        margin: 0 80px;
    }
    &__desc{
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 20px;
        color: #FFFFFF;
    }
    &__mid{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;
    }
    &__big{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 96px;
        line-height: 112px;
        color: #FFFFFF;  
        text-align: center;   
        &.plus{
            position: relative;
            &::before{
                content: '+';
                position: absolute;
                top: 0;
                right: -10px;
                font-size: 24px;
                line-height: 28px;
            }
        }   
    }
    &__small{
        position: absolute;
        bottom: 10px;
        left: 100%;
    }
    &__p{
        font-size: 24px;
        line-height: 28px;
        color: #B70021;
        text-align: center;
    }
}
.mr--12{
    margin-right: -12px;
}
.video{
    margin-bottom: 100px;
    &__player{
        max-width: 100%;
        width: 100%;
    }
}
.advantage{
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    &__img{
        max-width: calc(50% - 25px);
        width: 100%;
    }
    &__content{
        max-width: calc(50% - 25px);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
    &__p{
        max-width: 300px;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
    }
    &__name{
        font-size: 36px;
        line-height: 42px;
        color: #B70021;
        position: absolute;
        top: 0;
        left: 0;
    }
    &:last-of-type{
        .advantage__name{
            text-align: right;
            bottom: 0;
            top: auto;
            right: 0;
        }
    }
}


@media (max-width: 992px){
    .spec{
        &__body{
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }
        &__item{
            margin: 50px 0;
        }
    }
    .advantage{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        &:last-of-type{
            .advantage__name{
                text-align: left;
            }
        }
        &__img{
            max-width: 100%;
            order: -1;
            margin-bottom: 30px;
        }
        &__content{
            max-width: 100%;
        }
        &__name{
            position: static;
            order: -1;
        }
    }
}
@media (max-width: 768px){
    .header{
        height: 110px;
        padding-top: 15px;
        padding-bottom: 0;
        &__nav{
            height: 100%;
            align-items: start;
            position: relative;
        }
        &__logo{
            position: relative;
            top: 50px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .intro{
        background: url('../images/intro.png') center / cover no-repeat;
        &__carousel{
            display: none;
        }
        &__content{
            top: 110px;
            height: calc(100% - 170px);
            .container{
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
            }
        }
        &__title{
            font-size: 96px;
            line-height: 112px;
            color: #0B0B0B;
        }
        &__desc{
            text-align: center;
        }
    }
}
@media (max-width: 576px){
    .header{
        &__link{
            font-size: 28px;
            line-height: 120%;
            &::before{
                width: 230px;
            }
        }
        &__btn{
            width: 40px;
            padding: 8px;
            img{
                max-width: 100%;
            }
        }
        &__menu{
            &-close{
                width: 35px;
                height: 35px;
                top: 15px;
                img{
                    max-width: 100%;
                }
            }
        }
        &__logo{
            width: 120px;
            top: 50px;
            img{
                max-width: 100%;
            }
        }
    }
    .intro{
        &__content{
            top: 90px;
            height: calc(100% - 140px);
        }
        &__title{
            font-size: 64px;
            line-height: 120%;
            color: #0B0B0B;
        }
        &__desc{
            font-size: 20px;
            line-height: 120%;
        }
    }
}
@media (max-width:440px){
    .intro{
        background: url('../images/intro.png') right / cover no-repeat;
    }
}